# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Mac junk
*.xcodeproj
.DS_Store
ethslurp
api_key
TODO.txt
abis
theData
docs
docs/*
src/ethprice/*
src/balances/*
src/blockChunk/*
src/curator_watch/*
src/summation/junk/*
src/dapps/*
src/ethfunc/*
src/ethrlp/*
src/getABIs/*
src/getEvents/*
src/jsonparser/*
src/otherJunk/*
src/votes/*
src/withdraw_watch/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/
docs/_build
docs/utils/__pycache__

# vim stuff
*.swp
